{% extends "base.html"%}
{% block body%}
<table>
    <tr>
        <td>fixture</td>
        <td>time</td>
        <td>pick</td>
        <td>odds</td>
        <td>tipster name</td>
        <td>Approval status</td>
    </tr>
    {% for prediction in predictions%}
        <tr>
            <td>{{prediction.fixture}}</td>
            <td>{{prediction.date_time}}</td>
            <td>{{prediction.picks}}</td>
            <td>{{prediction.odds}}</td>
            <td><a href="{{prediction.tipster_url}}">{{prediction.tipster_name}}</a></a></td>
            {%if prediction.approve%}
                <td><a href="">diapprove</a></td>
            {%else%}
                <td><a href="">approve</a></td>
        </tr>
</table>
{%endblock%}