{%extends "base.html" %}
{% block content %}
<div class="main-users-div">
    <div class="row">
        <!--We are going to center everything inside here-->

        <div class="users-div col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <section class="predictions-section table-div">
                <h3 class="table-h">Today's Predictions</h3>
                {% if predictions|length %}

                    <table class="">
                        <tr>
                            <th>fixture</th>
                            <th>time</th>
                            <th>pick</th>
                            <th>odds</th>
                        </tr>
                        {% for prediction in predictions%}
                        <tr>
                            <td>{{prediction['fixture']}}</td>
                            <td>{{prediction['date_time']}}</td>
                            <td>{{prediction['pick']}}</td>
                            <td>{{prediction['odds']}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                {% else %}
                <div class="">
                    <p class="text-center">Today's tips have not yet been loaded, Try again later or tomorrow
                        maybe.</p>
                </div>
                {% endif %}
            </section>
            <hr>
            <section class="commentary">
                <h5>Tipster's banter bottomline</h5>
                {% for prediction in predictions%}
                <h6>{{ prediction['fixture'] }} &nbsp;&nbsp;({{prediction['pick']}}): &nbsp;&nbsp;
                {{prediction['odds']}}</h6>

                <p>{{ prediction['comment'] }}</p>
                {% endfor %}
                <h6> <strong>Your wagering Details</strong></h6>
                
                <ul>
                    
                    <li><em>total odds: {{ tot_odds }}</em></li>
                    {#
                    <li>stake: {{}}</li>
                    #}
                    {#
                    <li>Plausible win: {{}}</li>
                    #}
                    
                </ul>
                
            </section>
            <hr>
            <!--Maybe here we can include predictions from the past day: check from the serevr if the predictions went
            as predicted and then color code them accordingly-->
            <section class="past-data">
                <h4>Past Predictions(History)</h4>
                <fieldset>
                    <legend>Filter Form</legend>
                    <form class="" action="{{ url_for('main.user_predictions') }}" method="POST">
                        {% for error in filter_form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            {{ error }}
                        </div>

                        {% endfor %}
                        {{filter_form.csrf_token() }}
                        <div class="form-group">
                            {{filter_form.first_date.label}}{{filter_form.first_date(class="date-picker form-control", value=_from, placeholder="Yyyy-mm-dd")
                            }}
                            {{filter_form.second_date.label}}{{filter_form.second_date(class="date-picker form-control", value=_to, placeholder="Yyyy-mm-dd")
                            }}
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-3 "></div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                {{ filter_form.submit(class='btn login-btn')}}

                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-3 "></div>
                        </div>
                    </form>
                </fieldset>

                {% for key, value in past_predictions.items() %}
                <div class="table-div">
                <h6 class="table-h">date>{{ key }}</h6>
                <table class="">
                    <tbody>
                    <tr>
                        <th>sport</th>
                        <th>Fixture</th>
                        <th>Pick</th>
                        <th>Odds</th>
                        <th>Result</th>
                    </tr>
                    {% if past_predictions[key]|length %}

                    {% for prediction in past_predictions[key] %}
                    <tr>
                        <td>{{ prediction['sport'] }}</td>
                        <td>{{ prediction['fixture'] }}</td>
                        <td>{{ prediction['pick'] }}</td>
                        <td>{{ prediction['odd'] }}</td>
                        <td>{{ prediction['result'] }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5">
                            <div class="">
                                <p class="text-center">Seems like there were no approved predictions for this day.</p>
                            </div>
                        </td>

                    </tr>
                    {% endif %}
                    </tbody>
                </table>
                </div>

                {% endfor %}
            </section>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-0 col-xs-0"></div>
    </div>
    <aside>
        <!-- place statistical data here: a graph showing the probable trend in bankroll, at first the trend can be relative
         ; that is it can be traced on a variable x and not any fixed bankroll amount-->
    </aside>

</div>
{% endblock %}