@import url('https://fonts.googleapis.com/css?family=Kotta+One');
*{
	box-sizing: border-box;
}
body, html{
	min-height: 100%;
	font-family:'Kotta One', courier, monospace ;
	font-size: 18px;
}
body{
    background: url('../media/21.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}
.main {
	border-top: 1px solid;
	min-height: 100%;
	width: inherit;
	margin-top: 0;
	background-color: rgba(0,0,0,0.7);
	color: #fff7f7;
}
#filter {
	background-color: #c4c4c4;
}
header{
	margin-bottom:0;
}

section#about{
	text-align: center;
	width: 75%;
	margin: 20px auto;
	height: 60%;
	padding: 10px;
	border-radius: 0px 50px;
	color: white;

}

section#about h2{
	text-transform: uppercase;
}
section#about p{
	font-size : 1.2em;
}

div#past-data{
	width:95%;
	margin: 0 auto;
	padding: 0 20px;
}

.past-pred-h4{
	text-align: center;
}

div#past-data h2{
	text-align: center;
	text-transform: uppercase;
	font-style: oblique;
}

fieldset{
	margin: 18px auto;
}

form{
	background-color: white;
	padding: 40px;
    color: black;
}
.form-container{
	margin-top:10px;
}
.main-users-div{
	padding: 15px;
	width: 95%;
	margin: 10px auto 0;
	background-color: rgba(243, 252, 249, 0.59);
    color: black;
	border-radius: 3px 3px 0 0;
}
.main-users-div h2,h3,h4,h5{
	text-align: center;
}
.users-div{
	border-right: 2px solid gray;
}
section#past-data{
	background-color: rgb(256,256,256);
	width:80%;
	margin: 0 auto;
	min-height: 100%;
	max-height: 110%;
	overflow-y: scroll;
	padding: 0 20px;
}
.rem{
	display: inline;
}
.nav-right{
	margin-right: 0;
	margin-left:auto;
}
div.table-div{
	background-color: rgba(200,200,200,0.5);
	border: 1px solid transparent;
	border-radius: 15px 15px 0 0;
	padding: 0;
	margin: 10px auto;
}
div.table-div .table-h{
    text-align:center;
	font-size: 1em;
	background: #395870;
    color: #fff;
	margin: 0;
	border-radius:inherit;
}
table{
	width: 100%;
	font-size: 0.9em;
	border: 1px solid white;
	margin: 0 auto;
	border-collapse: collapse;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}
table div{
	background-color: #eee;
	padding: 20px;
}
table.success{
	background-color: rgba(0,200,0,.3);
}
table.fail{
	background-color:rgba(200,0,0,0.3);
}
td,th{
	border-bottom: 1px solid #fff;
	padding: 5px;
	text-align: left;
    color: black;
}
table tr:last-child td{
	border-bottom: 0;
}
