<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{%block title%}{%endblock title%}</title>
        <link rel="icon" type='image/x-icon' href="{{ url_for('static', filename='media/favicon.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        
        <!--jquery ui js and css-->
        <script src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.min.css')}}">
        
        <!-- custom js and css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pred.css') }}">
        <script src="{{url_for('static', filename='js/eanmble.js')}}"></script>
    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand" href="{{url_for('main.home')}}">EANMBLETS.com</a>
            <div class="nav-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ">
                    <li class="nav-item"><a class="nav-link" href="{{url_for('main.contact')}}">Contact</a></li>
                    {% if not current_user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{{url_for('auth.register')}}"><span
                            class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('auth.login')}}"><span
                            class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% else %}
                    {% if current_user.admin%}
                    <li class="nav-item"><a class="nav-link" href="{{url_for('main.admin')}}"><span
                            class="glyphicon glyphicon-log-in"></span> dashboard</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{url_for('main.user_predictions')}}"><span
                            class="glyphicon glyphicon-log-in"></span> dashboard</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{{url_for('auth.profile')}}"><span
                            class="glyphicon glyphicon-log-in"></span> Profile </a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('auth.logout')}}"><span
                            class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    {% endif %}
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <div class="conainer-fluid main" id="main">
        {% block content%}
        {%endblock content%}

    </div>
    
<!--Footer-->
<footer class="stylish-color-dark">

    <!--Footer Links-->
    <div class="container text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-4">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Disclaimer</h5>
                
<p> Eanmble engineer and tipster aim at providing information that is 100% accuracy in teory, Eanmble does not quarantee such or any accuracy of data
or information posted in here or third parties whose links appear on Eanmble.</p>
            </div>
            <!--/.First column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Second column-->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Eanmble Affiliates</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="eanmblesp.herokuapp.com" _target="blank">Eanmble sp</a>
                    </li>
                    
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Third column-->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Noteworthy sites</h5>
                <em>in no apparent order</em>
                <ul class="list-unstyled">
                    <li>
                        <a href="http://www.football-data.co.uk/" _target="blank">football-data</a>
                    </li>
                    <li>
                        <a href="http://www.sportstats.com/soccer" _target="blank">sportstats</a>
                    </li>
                    <li>
                        <a href="http://typersi.com" _target="blank">typersi</a>
                    </li>
                </ul>
            </div>
            <!--/.Third column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Fourth column-->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Quick links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">conatact</a>
                    </li>
                    <li>
                        <a href="#!">FAQS</a>
                    </li>
                    <li>
                        <a href="#!">tems and conditions</a>
                    </li>
                    <li>
                        <a href="#!">privacy policy</a>
                    </li>
                </ul>
            </div>
            <!--/.Fourth column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <hr>
    {% if not current_user.is_authenticated %}
    <!--Call to action-->
    <div class="text-center py-3">
        <ul class="list-unstyled list-inline mb-0">
            <li class="list-inline-item">
                <h5 class="mb-1">Register for free</h5>
            </li>
            <li class="list-inline-item">
                <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
            </li>
        </ul>
    </div>
    <!--/.Call to action-->
    
    <hr>
    {% endif %}

    <!--Social buttons-->
    <div class="text-center">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <a class="btn-floating btn-sm btn-fb mx-1">
                    <i class="fa fa-facebook"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-sm btn-tw mx-1">
                    <i class="fa fa-twitter"> </i>
                </a>
            </li>
            
        </ul>
    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        <p>age icon</p> © 2018 Copyright: Eanmble
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
                      
        
    </body>

    </html>