{%extends "base.html" %}
{% block content %}
<section id="about">
    <h2>About</h2>

    <p>Eamnblets brings together the efforts of some of the best tipsters, this side of East Africa, to bring you
    the best and highly trusted tips for free. Tips posted in this platform go through a two step verification procedure
    by different tipsters to make sure that they are value tips. PS: The Predictions posted here are exactly the same as those
    that our tipsters wager on themselves here at Eanmble.</p>
    <p>To access such tips<em>for free </em>, you only need to create a <em>free</em> account with us. After creating
    your account you shall also have the chance to filter through our past data and decide for yourself if you can trust us.</p>
</section>
<hr>

<h4 class="past-pred-h4">Past Predictions(History)</h4>

<div id="past-data">
    {% for key, value in past_predictions.items() %}
    <div class="table-div">
    <h6 class="table-h">date>{{ key }}</h6>
    <table class="">

        <tbody>
        <tr>
            <th>sport</th>
            <th>Fixture</th>
            <th>Pick</th>
            <th>Odds</th>
            <th>Result</th>
        </tr>
        {% if past_predictions[key]|length %}

        {% for prediction in past_predictions[key] %}
        <tr>
            <td>{{ prediction['sport'] }}</td>
            <td>{{ prediction['fixture'] }}</td>
            <td>{{ prediction['pick'] }}</td>
            <td>{{ prediction['odd'] }}</td>
            <td>{{ prediction['result'] }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">
                <div class="">
                    <p class="text-center">Seems like there were no approved predictions for this day.</p>
                </div>
            </td>

        </tr>
        {% endif %}
        </tbody>
    </table>
    </div>

    {% endfor %}

</div>
{% endblock %}
