{%extends "base.html" %}
{% block content %}
<section id="about">
    <h2>About</h2>

    <p>i have not figured out what to say here exactly , because am sure it will be something
        cheesy and i do not want cheesy. fuck, who knew to be a web developer/designer you also had to be a
        writer. you know look through the contents of the website and youll definitley be in a potiion to
        rationallyt
        judge the purpose of EAnmblets. If you still cant, then well good luck mate.</p>
</section>
<div id="past-data">
    <h2>Past Predictions(History)</h2>
    <table class="table success table-hover table-condensed">
        <thead>
        <tr>
            <td colspan="5">
                date>{{date}}(yesterday)
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>sport</th>
            <th>Fixture</th>
            <th>Pick</th>
            <th>Odds</th>
            <th>Result</th>
        </tr>
        <tr>
            <td>Soccer</td>
            <td>Manchester united vs United of Manchester </td>
            <td>1</td>
            <td>1.05</td>
            <td>2-0</td>
        </tr>
        <tr>
            <td>Soccer</td>
            <td>Manchester united vs United of Manchester </td>
            <td>1</td>
            <td>1.05</td>
            <td>2-0</td>
        </tr>
        <tr>
            <td>Soccer</td>
            <td>Manchester united vs United of Manchester </td>
            <td>1</td>
            <td>1.05</td>
            <td>2-0</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5">
                <div class="commentary">
                    <section>
                        <h4>Fixture</h4>
                        <p>Commentary</p>
                    </section>
                    <section>
                        odds:
                        stake:
                        plausible win:
                    </section>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
    <table class="table fail table-condensed table-hover">
        <thead>
        <tr>
            <td colspan="5">
                date>{{date}}(2 days ago)
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>sport</th>
            <th>Fixture</th>
            <th>Pick</th>
            <th>Odds</th>
            <th>Result</th>
        </tr>
        <tr>
            <td>Soccer</td>
            <td> Chealsea vs  Arsenal</td>
            <td>1</td>
            <td>2.05</td>
            <td>2-2</td>
        </tr>
        <tr>
            <td>Soccer</td>
            <td> Chealsea vs  Arsenal</td>
            <td>1</td>
            <td>2.05</td>
            <td>2-2</td>
        </tr>
        <tr>
            <td>Soccer</td>
            <td> Chealsea vs  Arsenal</td>
            <td>1</td>
            <td>2.05</td>
            <td>2-2</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5">
                <div class="commentary">
                    <section>
                        <h4>Fixture</h4>
                        <p>Commentary</p>
                    </section>
                    <section>
                        odds:
                        stake:
                        plausible win:
                    </section>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <td colspan="5">
                date>{{date}}(yesterday)
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>sport</th>
            <th>Fixture</th>
            <th>Pick</th>
            <th>Odds</th>
            <th>Result</th>
        </tr>
        <tr>
            <td>Soccer</td>
            <td>Manchester united vs United of Manchester </td>
            <td>1</td>
            <td>1.05</td>
            <td>2-0</td>
        </tr>
        <tr>
            <td>Soccer</td>
            <td>Manchester united vs United of Manchester </td>
            <td>1</td>
            <td>1.05</td>
            <td>2-0</td>
        </tr>
        <tr>
            <td>Soccer</td>
            <td>Manchester united vs United of Manchester </td>
            <td>1</td>
            <td>1.05</td>
            <td>2-0</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5">
                <div class="commentary">
                    <section>
                        <h4>Fixture</h4>
                        <p>Commentary</p>
                    </section>
                    <section>
                        odds:
                        stake:
                        plausible win:
                    </section>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>

</div>
{% endblock %}

am having an idea of placing each and every of the other pages here on the landing page,..
all being the fixed size of the viewport and then use parallax.